.menuLinks{
    width:100%;
    height:40px;
    display:flex;
    align-items: center;
    padding-right:10px;
    padding-left:10px;
}
.imgLinks{
    width:16px;
    height:16px;
   
}
    
.Links{
    display: flex;
    gap:10px;
}
.p{
    margin-right:22px;
}
.ListItems:hover{
    background-color:#fff7f3;
}
